.col-1 {
	width: 8.3333333333%;
}

.col-2 {
	width: 16.6666666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33333333%;
}

.col-5 {
	width: 41.66666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.333333333%;
}

.col-8 {
	width: 66.6666667%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33333333%;
}

.col-11 {
	width: 91.66666666666667%;
}

.col-12 {
	width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	margin: 0;
	display: flex;
	float: left;
	justify-content: center;
}

.row {
	margin: 0;
	padding: 0;
	width: 100%;
}

.background-black {
	background-color: #000;
}

.background-gray {
	background-color: #222;
}

.background-light-gray {
	background-color: #444;
}

@media only screen and (max-width: 500px) {
	.size-small {
		display: inline;
	}
	.size-medium, .size-large {
		display: none;
	}
}

@media only screen and (min-width: 500px) {
	.size-medium {
		display: inline;
	}
	.size-small, .size-large {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {
	.size-large {
		display: inline;
	}
	.size-medium, .size-small {
		display: none;
	}
}

.size-small, .size-medium, .size-large {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}